.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.7rem 1rem;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.nav-links.show-nav {
    display: flex;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (min-width: 769px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        width: auto;
        text-align: left;
    }

    .nav-links li {
        padding: 0 15px;
        margin: 0;
    }

    .nav-toggle {
        display: none;
    }
}
